*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# IntelliJ IDEA
.idea/

# Sub-projects
scalatest-spring/
akka-spring-boot/
akka-http-spring-boot/
akka-http-spring-boot-activator/
